---
---

<section id="features" class="w-full bg-neutral-800 py-16 md:py-24">
      <div class="container mx-auto px-4">
        <h2
          class="text-white text-3xl md:text-4xl lg:text-5xl font-medium text-center mb-12 md:mb-16 tracking-wide"
        >
          DOMINE QUALQUER PERCURSO: Acessórios Bráz Inquebráveis!
        </h2>
        
<div class="grid grid-cols-2 gap-8 ">
    <div class="group rounded-2xl overflow-hidden bg-amber-400">
        <img src="/images/instalcacao-bauleto.jpeg" alt="Instalação Bauleto Bráz" class="h-full w-full object-cover transition-transform duration-500 ease-in-out group-hover:scale-105">
    </div>
<div><p class="text-white md:text-lg ">Equipamentos e acessórios que garantem segurança, conforto e performance em qualquer terreno. Suportes para celula, luvas, jaquetas, capacetes e botas.</p>
<p class="text-white md:text-lg my-8">Equipe sua moto com bauletos de alumínio naval, protetores de carenagem e bagageiros que resistem a quedas, chuvas torrenciais e impactos off-road – leve 55L de carga segura, viaje sem limites por um preço justo. Proteção total para aventuras reais. <span class="font-bold"></span>Compre Agora e Acelere!</p>
<p class="text-white md:text-lg my-8">Desde 2014, revolucionamos o mercado de estética automotiva com tecnologia de ponta e atendimento personalizado. Foram mais de 6 mil veículos transformados, somos preferência entre os proprietários exigentes que escolhem o melhor para os seus veículos.</p>
</div>
</div>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8 md:gap-12 my-12 md:my-16">
          <!-- Feature 1 -->
          <div
            class="group flex flex-col items-center text-center h-full transition-transform duration-300 ease-out hover:-translate-y-2 hover:scale-[1.02]"
          >
            <div
              class="mb-6 h-48 w-auto transition-transform duration-300 ease-out group-hover:scale-110 group-hover:brightness-110"
            >
              <img
                src="/images/mechanic.svg"
                alt="Ícone de equipe"
                class="mx-auto"
                width="150"
                height="150"
              />
            </div>
            <h3
              class="text-white text-xl md:text-2xl mb-2 h-[4rem] flex flex-col items-center justify-start transition-colors duration-300 group-hover:text-amber-300"
            >
              <div>Equipe</div>
              <div class="font-bold">especializada</div>
            </h3>
          </div>

          <!-- Feature 2 -->
          <div
            class="group flex flex-col items-center text-center h-full transition-transform duration-300 ease-out hover:-translate-y-2 hover:scale-[1.02] hover:shadow-lg"
          >
            <div
              class="mb-6 h-48 w-auto transition-transform duration-300 ease-out group-hover:scale-110 group-hover:brightness-110"
            >
              <img
                src="/images/helmet.svg"
                alt="Ícone de qualidade"
                class="mx-auto"
                width="150"
                height="150"
              />
            </div>
            <h3
              class="text-white text-xl md:text-2xl mb-2 h-16 flex flex-col items-center justify-start transition-colors duration-300 group-hover:text-amber-300"
            >
              <div>Produtos de</div>
              <div class="font-bold">alta qualidade</div>
            </h3>
          </div>
          <!-- Feature 3 -->
          <div
            class="group flex flex-col items-center text-center h-full transition-transform duration-300 ease-out hover:-translate-y-2 hover:scale-[1.02] "
          >
            <div
              class="mb-6 h-48 w-auto transition-transform duration-300 ease-out group-hover:scale-110 group-hover:brightness-110"
            >
              <img
                src="/images/star-medal.svg"
                alt="Ícone de qualidade"
                class="mx-auto"
                width="150"
                height="150"
              />
            </div>
            <h3
              class="text-white text-xl md:text-2xl mb-2 h-16 flex flex-col items-center justify-start transition-colors duration-300 group-hover:text-amber-300"
            >
              <div>Padrão</div>
              <div class="font-bold">de excelência</div>
            </h3>
          </div>
        </div>
      </div>
    </section>