---

---
<footer class="w-full bg-neutral-900 py-4 md:py-4">
  <div class="container mx-auto">
  <div class="grid grid-cols-3 gap-4">
  <!-- Column 1 -->
  <div class="p-4 ">
    <img src="logo-polish-sem-fundo.avif" alt="" width="150">
    <p class="text-white text-xs md:text-sm font-medium">
        © {new Date().getFullYear()} | Polish Motors | Todos Direitos Reservados
      </p>
  </div>

  <!-- Column 2 -->
  <div class="text-white p-4 font-extralight">
    <p>Há 10 anos transformando veículos com tecnologia alemã e atendimento premium. Sua satisfação é nossa obsessão.</p>

<h5 class="font-semibold pt-2.5 pb-1 " >whatsapp:</h5>
<a href="https://wa.me/+5561985300971" target="_blank" class="hover:text-amber-400 transition-colors delay-150 cursor-pointer">+ 55 61 98530 0971</a>
<h5 class="font-semibold pt-2.5 pb-1 ">Endereço:</h5>
<a href="https://maps.app.goo.gl/ce7LcSU6Aw67hsoc9" target="_blank" class="hover:text-amber-400 transition-colors delay-150 cursor-pointer">Quadra Mista Sudoeste QMSW 2 Conjunto B Lote 5 Loja 2, St. Sudoeste, Brasília - DF, 70680-200</a>
  </div>

  <!-- Column 3 -->
  <div class=" p-4">
    <form name="Formulário contato" class="text-white space-y-6 ">
      <div class="" >
      <label for="Nome" class="">Nome:</label>
      <input id="Nome" placeholder="Seu nome " type="text" 
      class="bg-neutral-300 border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-3 py-2.5 shadow-xs placeholder-neutral-500 placeholder:text-body rounded-xl" tabindex="0">
    </div>
    <div class="">
      <label for="Telefone:" class="" >Telefone:*</label>
      <input id="Telefone:" placeholder="Seu número de telefone" type="text" 
      class="bg-neutral-300 border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-3 py-2.5 shadow-xs placeholder-neutral-500 placeholder:text-body rounded-xl" value="" tabindex="0" >
    </div>
      <div class="">
        <label for="Mensagem" class="">Mensagem:</label>
        <input id="Mensagem" placeholder="Nos conte o que procura e entraremos em contato" type="text" 
        class="bg-neutral-300 border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-3 py-2.5 shadow-xs placeholder-neutral-500 placeholder:text-body rounded-xl"
        value="" tabindex="0">
      </div>
      <button type="submit" name="submit" 
      class="text-white bg-orange-400 box-border border border-transparent hover:bg-orange-500  focus:ring-4 focus:ring-orange-600 shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none" aria-hidden="false">Enviar</button></form>
  </div>
</div>
  <div class="container mx-auto px-4 mt-4">
    <div class="flex flex-col items-center justify-center text-center gap-1">
      <!-- First Line -->
      <p class="text-white text-xs md:text-sm font-light">
        Desenvolvido por: <a
          href="https://atavares.com"
          class="hover:text-amber-400 transition-colors delay-150 cursor-pointer"
        >
          atavares.com
        </a>
      </p>
    </div>
  </div>
  </div>
</footer>



